<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rrr_robot">
  <xacro:arg name="mobile_base_type" default=""/>
  <xacro:property name="mobile_base_type" value="$(arg mobile_base_type)"/>
  <xacro:if value="${mobile_base_type != ''}">
    <disable_collisions link1="mobile_base" link2="base_link" reason="Adjacent"/>
  </xacro:if>
  <disable_collisions link1="base_link" link2="link1" reason="Adjacent"/>
  <disable_collisions link1="link1" link2="link2" reason="Adjacent"/>
  <disable_collisions link1="link2" link2="link3" reason="Adjacent"/>
  <disable_collisions link1="link3" link2="end_effector" reason="Adjacent"/>
</robot>
