<robot name="disable_collisions">
  <disable_collisions link1="fr3_link3" link2="fr3_link4" reason="Adjacent" />
  <disable_collisions link1="fr3_link0" link2="fr3_link1" reason="Adjacent" />
  <disable_collisions link1="fr3_link2" link2="fr3_link3" reason="Adjacent" />
  <disable_collisions link1="fr3_link5" link2="fr3_link6" reason="Adjacent" />
  <disable_collisions link1="fr3_link6" link2="fr3_link7" reason="Adjacent" />
  <disable_collisions link1="base" link2="fr3_link0" reason="Adjacent" />
  <disable_collisions link1="fr3_link4" link2="fr3_link5" reason="Adjacent" />
  <disable_collisions link1="fr3_link1" link2="fr3_link2" reason="Adjacent" />
</robot>
